<?xml version="1.0"?>
<model>
  <name>writer</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Open Robotics (DARPA SubT X2 model)</name></author>
  <description>LivingMap writer: DARPA Subterranean Challenge X2 robot from Gazebo Fuel (OpenRobotics/X2 Config 8, CC-BY-4.0, https://app.gazebosim.org/OpenRobotics/fuel/models/X2%20Config%208). Sensors replaced by the LivingMap LiDAR; meshes unmodified.</description>
</model>
